
<div><%= link_to "Add a new question", new_question_path %></div>


  <% if user_signed_in? %>
    <% if @question && @questions %>
      Question: <span class="question"><%= @question.question %> </span>
      <%= button_to 'True', question_answers_path(@question),  method: :post, params: {guess: :true}%>
      <%= button_to 'False', question_answers_path(@question),  method: :post, params: {guess: :false}%>
    <% elsif @questions.empty? %>
      <div>No questions yet</div>
    <% else %>
      <div>You have answered all available questions</div>
    <% end %>
  <% else %>
    <h3>Please sign in or register to play quiz</h3>
  <% end %>


